.store-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding: 40px;
  background-color: #f9f9f9;
}

.store-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  padding: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  background-color: white;
  width: 45%;
  height: 250px;
  transition: 0.5s ease-in-out;
}

.store-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  background-color: #fff4ec;
}

.store-card-icon {
  font-size: 32px;
  margin-top: 6px;
}

.store-card-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #111;
}

.store-card-description {
  font-size: 14px;
  color: #555;
  margin: 0 0 16px;
}

.store-card-button {
  padding: 10px 18px;
  background-color: black;
  color: white;
  border: none;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.store-card-button:hover {
  background-color: #333;
}

.store-card-content {
  height: auto;
}
@media (max-width: 768px) {
    .store-card-container{
        flex-direction: column;
    }
    .store-card-button{
        width: 100%;
    }
    .store-card{
        width: 100%;
        flex-direction: column;
        height: auto;
    }
}