.sofa-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; 
padding: 1rem 5rem;
}

.sofa-content {
    width: 45%;
}

.sofa-content p {
    width: 100%;
    font-size: 16px;
    line-height: 1.6;
}

.sofa-content button {
    background-color:  #B07D51;
    margin-top: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 40px;
    box-shadow: 0 6px 10px rgba(167, 167, 167, 0.5);
}

.sofa-image {
    border-radius: 20px;
    width: 50%; 
    height: auto;
}

/* Responsive tweaks */
@media (max-width: 768px) {
    .sofa-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 1rem;
    }

    .sofa-content {
        width: 100%;
        padding: 0 20px;
    }
    .sofa-content p,h1{
        margin-bottom: 1rem !important;
    }

    .sofa-image {
        height: auto;
        width: 100%;
        margin-top: 8%;
    }

    .sofa-content button {
        width: 100%;
        max-width: 200px;
    }
}
