.top-banner-badge{
    background-color: rgb(0, 0, 0);
}

.top-banner-badge p{
margin-bottom:0rem !important;
}
.discount-info p a{
    font-weight: 700;
}
.contact span ,.discount-info span{
    font-weight: 700;
}
.icon-fb,.icon-ig{
height: 30px;
width: 30px;
border-radius: 50%;
background-color: #AB7B53;
color: #fff;
}
.top-banner-badge div p{
    color:#fff;
}
.search-box {
    border-radius: 50px;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}
.search-box .search-icon{
    color: #8D4F1B;
}
.search-box .banner-search-input::placeholder{
    color: #8D4F1B;
}
.search-box-inner{
    display: flex;
}
.search-box-inner input{
    background-color: #ffffff;
    width: 100%;
}
@media (min-width:480px){
.search-box{
    display: none;
}
}
@media (max-width:780px){
    .contact,.social-icon,.discount-info{
        display: none !important;
    }
    .top-banner-badge{
        background-color: rgb(255 255 255);
        padding-right: 1rem !important;
    padding-left: 1rem !important;
    }
    .search-box{
        border: 1px solid #8D4F1B;
    }
    .top-banner-badge div p {
    font-size: x-small;
    }
}
@media (max-width: 480px) {
   .search-box .banner-search-input, .banner-search-select {
        padding: 0.2rem 0.3rem;
        font-size: 0.75rem;
        margin-left: 10px;
    }
    .search-box .search-icon {
    margin-right: 10px;
  }
}